{% extends "base.html" %}

{% block content %}
    <h2>{% if article %}{{ article.session }}{% endif %}</h2>
<div class="container">
  <form method="POST">
    <div class="form-group">
        <input name="header" value="{% if article %}{{ article.header }}{% endif %}" class="form-control" placeholder="Заголовок" autofocus/>
    </div>
    <div class="form-group">
      <input name="signature" value="{% if article %}{{ article.signature }}{% endif %}" class="form-control" placeholder="Подпись"/>
    </div>
    <div class="form-group">
      <textarea name="body" class="form-control" rows="10" placeholder="Ваша история">{% if article %}{{ article.body }}{% endif %}</textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Опубликовать</button>
    </div>
  </form>
</div><!-- /.container -->
{% endblock %}